<nav class="navbar navbar-dark bg-dark">
    <a href="#" class="navbar-brand">
        <img src="/assets/img/bootstrap-solid.svg" 
            alt=""
            width="30"
            height="30"
            class="d-inline-block">
        <span class="px-2">
           What todo?
        </span>
    </a>
</nav>

<div class="container">

    <!-- Add Task Section -->
    <div class="row">       
        <div class="action-center col-lg-10 offset-lg-1 my-5 ">
            <div class="row">
                <div class="col-lg-9">
                    <div class="form-group">
                        <input 
                            type="text" 
                            class="form-control text-center"
                            placeholder="Type your awesome task here ...">
                    </div>
                </div>            
                <div class="col-lg-2">
                    <button class="btn btn-primary">
                        Add
                    </button>
                </div>
            </div>
        </div>                          
    </div>

    <!-- Task List Container -->
    <div class="row">
        <div class="col-lg-8 offset-md-1">
            <div class="show-completed text-center pb-5">
                <a href="">
                    Show Completed Tasks (12)
                </a>
            </div>

            <div class="task-list">
                <ul class="list-group list-group-flush"> 
                    <li class="list-group-item">
                        <div class="d-flex">    
                            <div class="mr-auto">
                                <input 
                                    class="mr-2"
                                    type="checkbox" 
                                    aria-label="Checkbox for following text input"
                                >
                                Vestibulum at eros
                            </div>                                
                            <div class="px-2">
                                <a href="">
                                    Edit
                                </a>
                            </div>
                            <div>
                                <a href="">
                                    Delete
                                </a>                                
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                            <div class="d-flex">    
                            <div class="mr-auto"> 
                                <input 
                                    class="mr-2"
                                    type="checkbox" 
                                    aria-label="Checkbox for following text input"
                                >                                                                 
                                Cras justo odio
                            </div>                                
                            <div class="px-2">
                                <a href="">
                                    Edit
                                </a>
                            </div>
                            <div>
                                <a href="">
                                    Delete
                                </a>   
                            </div>
                            </div>
                    </li>
                    <li class="list-group-item">
                            <div class="d-flex">    
                            <div class="mr-auto">                                  
                                <input 
                                    class="mr-2"
                                    type="checkbox" 
                                    aria-label="Checkbox for following text input"
                                >
                                Porta ac consectetur ac
                            </div>                                
                            <div class="px-2">
                                <a href="">
                                    Edit
                                </a>
                            </div>
                            <div>
                                <a href="">
                                    Delete
                                </a>   
                            </div>
                            </div>
                    </li>
                    <li class="list-group-item">
                            <div class="d-flex">    
                            <div class="mr-auto">                                  
                                <input 
                                    class="mr-2"
                                    type="checkbox" 
                                    aria-label="Checkbox for following text input"
                                > Morbi leo risus
                            </div>                                
                            <div class="px-2">
                                <a href="">
                                    Edit
                                </a>
                            </div>
                            <div>
                                <a href="">
                                    Delete
                                </a>   
                            </div>
                            </div>
                    </li>
                    <li class="list-group-item">
                            <div class="d-flex">    
                            <div class="mr-auto">                                  
                                <input 
                                    class="mr-2"
                                    type="checkbox" 
                                    aria-label="Checkbox for following text input"
                                >
                                Dapibus ac facilisis in
                            </div>                                
                            <div class="px-2">
                                <a href="">
                                    Edit
                                </a>
                            </div>
                            <div>
                                <a href="">
                                    Delete
                                </a>                              
                            </div>
                            </div>
                    </li>  
                </ul> 
            </div>
        </div>
    </div>

</div>


