<nav class="navbar navbar-dark bg-dark">
    <a href="#" class="navbar-brand">
        <img src="/assets/img/bootstrap-solid.svg" 
            alt=""
            width="30"
            height="30"
            class="d-inline-block">
        <span class="px-2">
           What todo?
        </span>
    </a>
</nav>

<div class="container">

    <!-- Add Task Section -->
    <div class="row">       
        <div class="action-center col-lg-10 offset-lg-1 my-5 ">
            <form (ngSubmit)="onAddtask()" #addTaskForm="ngForm">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="form-group">
                            <input 
                                type="text" 
                                class="form-control text-center"
                                placeholder="Type your awesome task here ..."
                                required
                                ngModel
                                name="task"
                                >
                        </div>
                    </div>            
                    <div class="col-lg-2">
                        <button 
                            class="btn btn-primary"
                            [disabled]="!addTaskForm.valid">
                            Add
                        </button>
                    </div>
                </div>   
            </form>
        </div>                          
    </div>

    <!-- Task List Container -->
    <div class="row">
        <div class="col-lg-8 offset-md-1">
            <div class="show-completed text-center pb-5">
                <a href="#"
                    (click)="toggleActiveTasks()">
                    Total Tasks ({{ tasks.length }})
                </a>
            </div>

            <div class="task-list">
                <ul class="list-group list-group-flush"> 
                    <li class="list-group-item" *ngFor="let task of tasks | filterStatus : textfilteredTask ; let id=index">
                        <div class="d-flex">    
                            <div class="mr-auto form-inline">
 
                               
                                <input
                                    #editedTask  
                                    class="form-control " 
                                    [class.edit-mode] = "(selectedTask == id  || EditMode) ? EditMode : !EditMode"                                
                                    [disabled] = "(selectedTask == id  || EditMode) ? EditMode : !EditMode"
                                    type="text"
                                    value="{{ task.task }}"> 
                                   
                            </div>                                
                            <div class="px-2">
                                <small>
                                    <a href="#"
                                        [hidden]="(selectedTask == id  || EditMode) ?  !EditMode : EditMode"
                                        (click)="enableEditMode(id)">
                                         Edit 
                                    </a>
                                    <a href="#" 
                                        [hidden]="(selectedTask == id  || EditMode) ?  EditMode : !EditMode"
                                        (click)="updateTask(id)">
                                        Update
                                    </a>
                                </small> 
                            </div>
                            <div>
                                <small>
                                    <a href="#"
                                        (click)="deleteTask(id)" >
                                        Delete
                                    </a>   
                                </small>                             
                            </div>
                        </div>
                    </li>  
                </ul> 
            </div>
        </div>
    </div>

</div>


